* {
    box-sizing: border-box;
}

body {
    /* Center the content of the body both vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
    height: 100vh;
    margin: 0;
}

body,
.snake {
    background-color: #414141;
}

#game-board {
    display: grid;
    /* 40% of viewport width */
    width: 40vw;
    /* 70% of viewport height */
    height: 70vh;
    /* relative to viewport width */
    border-radius: 5vw;
    /* relative to the grid container */
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /* relative to the font size of the parent element */
    margin: 1em;
}

.game-border-1 {
    border: 0.8vw solid #776B5D;
    border-radius: 3vw;
    box-shadow: inset 0 0 0 2vw #776B5D;
}

.game-border-2 {
    border: 0.6vw solid #B0A695;
    border-radius: 2.5vw;
    box-shadow: inset 0 0 0 2vw #B0A695;
}

.game-border-3 {
    border: 1vw solid #EBE3D5;
    border-radius: 1.5vw;
    box-shadow: inset 0 0 0 1vw #EBE3D5;
}

#instruction-text {
    position: absolute;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    font-size: 3vw;
    top: 65%;
    width: 35vw;
    margin: 0;
    padding: 3vw;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#score,
#timer {
    color: #F3EEEA;
}

#score,
#timer,
#high-score {
    font-weight: bolder;
    font-size: 2.5vw;
    margin: 1vw 0;
    line-height: 2vw;
}

#high-score {
    color: #FFB000;
    display: none;
}

.game-border-3,
#logo {
    background-color: #F3EEEA;
}

.snake {
    border: 0.01vw dotted #5a5a5a;
}

.food {
    background-color: #dedede;
    border: 0.05vw solid #999;
}

#logo {
    position: absolute;
    width: 35vw;
    height: 20vw;
}

/* Animation */
.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.snow{
    position: absolute;    
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Add z-index property to move the snow effect behind other components */
    overflow: hidden; /* Prevent scrolling */
}

.snowflake {
    position: absolute;
    display: block;
    background-color: #fff;
    top: 0;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    animation: snowfall 5s linear infinite;
    opacity: 0.7;
}

@keyframes snowfall {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100vh);
    }
}

/* Media queries */
@media screen and (max-width: 480px) {

    /* Add responsive styles for screens up to 480px */
    #game-board {
        width: 60vw;
        height: 35vh;
    }

    #score,
    #timer,
    #high-score {
        font-size: 5vw;
    }

    #instruction-text {
        top: 60%;
        font-size: 5vw;
        width: 50vw;
    }

    #logo {
        top: 40%;
        width: 50vw;
        height: 30vw;
    }
}